<div class="row">
    <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes; let i = index">
            <div class="row">
                <div class="col">
                    <h4 class="list-group-item-heading">{{ recipes[i].name }}</h4>
                    <p class="list-group-item-text">{{ recipes[i].description }}</p>
                </div>
                <div class="col">
                    <span class="float-right">
                        <img src="{{ recipes[i].imagePath }}" alt="" class="img-responsive" style="max-height: 100px">
                    </span>
                </div>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
<app-recipe-item></app-recipe-item>